<form class="form-group" ng-submit="scavengeResults()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Otsing" ng-model="bla"/>
        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Otsi</button>
                    </span>
    </div>
</form>

<table ng-if="searchResults.length != 0" class="table table-sm">
    <thead>
    <tr>
        <th class="col-sm-1">Kopeeri</th>
        <th class="col-sm-2">Pealkiri</th>
        <th class="col-sm-4">Sisu</th>
        <th class="col-sm-2">Link</th>
        <th class="col-sm-3">Google'i link</th>
    </tr>
    </thead>
    <tr ng-repeat="result in searchResults">
        <td>
            <div class="round">
                <input class="form-check-input round"
                       type="checkbox"
                       ng-model="bla"
                       ng-change="pushToClipboard(result.ctUrl)"
                       value=""
                       id="{{result.ctUrl}}"/>
                <label for="{{result.ctUrl}}"></label>
            </div>
        </td>
        <td><p ng-bind-html="result.title"></p></td>
        <td><p ng-bind-html="result.snippet"></p></td>
        <td class="setWidth concat"><a ng-href="{{result.link}}">{{result.link}}</a></td>
        <td class="setWidth concat"><a ng-href="{{result.ctUrl}}">{{result.ctUrl}}</a></td>
    </tr>
</table>
